################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/commissionBatchPlanCalc/v16
/CreatePatientDataBase/bin/x64/Debug
/CreatePatientDataBase/obj
/CreatePatientDataBase/Properties
/Projects
/testCreatePatientList
/ArchivedIMRTQADatabase.csv
/IMRTQAList.csv
